@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply text-center;

  margin-top: 60px;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  padding: 2px 4px;
  color: #304455;
  background-color: #eee;
  border-radius: 4px;
}

.nav {
  @apply text-center;
}
.nav a {
  @apply mx-2;
}
